body {
  margin: 0;
  background: #0e1621;
  font-family: Arial;
}

#chat-container {
  max-width: 400px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #0e1621;
}

#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.msg {
  max-width: 75%;
  padding: 8px 12px;
  border-radius: 12px;
  margin-bottom: 8px;
  color: white;
}

.me {
  background: #2b5278;
  margin-left: auto;
}

.other {
  background: #182533;
}

.meta {
  font-size: 10px;
  text-align: right;
  opacity: 0.6;
}

.ticks {
  margin-left: 5px;
  color: gray;
}

.ticks.read {
  color: #4fc3f7;
}

#input-container {
  display: flex;
  padding: 10px;
  background: #17212b;
}

#input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

#sendBtn {
  margin-left: 10px;
  padding: 10px 16px;
  border-radius: 20px;
  border: none;
  background: #3390ec;
  color: #fff;
  cursor: pointer;
}