* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial;
}

body {
  margin: 0;
  background: #1c2733;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#chat-container {
  width: 100%;
  max-width: 420px;
  height: 100vh;
  background: #1f2d3d;
  display: flex;
  flex-direction: column;
}

#messages {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
}

.message {
  max-width: 50%;
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.4;
}

.self {
  background: #3390ec;
  color: #fff;
  margin-left: auto;
  border-bottom-right-radius: 4px;
}

.other {
  background: #2b3e50;
  color: #e6e6e6;
  margin-right: auto;
  border-bottom-left-radius: 4px;
}

/* #input-container {
  display: flex;
  padding: 10px;
  background: #17212b;
}

#input {
  flex: 1;
  padding: 10px 14px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: #0e1621;
  color: #fff;
} */

#input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #17212b;
  z-index: 10;
  position: relative;
}

#input {
  flex: 1;
  padding: 12px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 14px;
  background: #0e1621;
  color: #fff;
  pointer-events: auto;
}

#input:focus {
  border: 1px solid #4caf50;
  padding: 11px;
}

#sendBtn {
  margin-left: 10px;
  padding: 10px 16px;
  border-radius: 20px;
  border: none;
  background: #3390ec;
  color: #fff;
  cursor: pointer;
}

.name {
  font-size: 7px;
  color: #7caddf;
  font-family: Inter;
}

.time{
  text-align: right;
}